In [5]:
import os
import json
import pandas as pd
import numpy as np
from io import StringIO

import seaborn as sns
import matplotlib.pyplot as plt

# Silence warnings
import warnings
warnings.filterwarnings("ignore")
pd.options.mode.chained_assignment = None

In [ ]:
df = pd.DataFrame.from_dict(dictionary)

In [ ]:
df.head(1)

In [ ]:
len(df)

In [6]:
df.to_json('data/full_dataset.json')

# Exporatory analysis

In [7]:
df.describe()

            objectID  objectBeginDate  objectEndDate
count  488051.000000    488051.000000  488051.000000
mean   386258.035373      1306.404558    1405.852587
std    230617.988458      1662.212808    1155.081653
min         1.000000   -400000.000000 -240000.000000
25%    214900.500000      1532.000000    1590.000000
50%    376138.000000      1800.000000    1846.000000
75%    563992.500000      1900.000000    1911.000000
max    822460.000000      5000.000000  157555.000000

In [8]:
len(df)

488795

In [9]:
df.columns

Index(['objectID', 'isHighlight', 'accessionNumber', 'isPublicDomain',
       'primaryImage', 'primaryImageSmall', 'additionalImages', 'constituents',
       'department', 'objectName', 'title', 'culture', 'period', 'dynasty',
       'reign', 'portfolio', 'artistRole', 'artistPrefix', 'artistDisplayName',
       'artistDisplayBio', 'artistSuffix', 'artistAlphaSort',
       'artistNationality', 'artistBeginDate', 'artistEndDate', 'objectDate',
       'objectBeginDate', 'objectEndDate', 'medium', 'dimensions',
       'creditLine', 'geographyType', 'city', 'state', 'county', 'country',
       'region', 'subregion', 'locale', 'locus', 'excavation', 'river',
       'classification', 'rightsAndReproduction', 'linkResource',
       'metadataDate', 'repository', 'objectURL', 'tags'],
      dtype='object')

In [10]:
def explain_data(df_, feature):
    
    print('===', feature.capitalize(), '===')
    counts = df_[feature].value_counts()
    print('Total informed : ' + str(100*(len(df_) - counts[''])/len(df_))[:5] + '%')
    print('Top values :')
    print(counts[counts > 1000][1:])
    print(str(len(counts[counts > 100])-1) + ' have more than 100. From that, ' + str(len(counts[counts > 1000])-1),
          'have more than 1000.')
    print('')

In [11]:
features = ['country', 'city', 'region', 'subregion', 'culture', 'artistNationality', 'classification']

for feature in features:
    explain_data(df, feature)

=== Country ===
Total informed : 20.78%
Top values :
Egypt              30355
United States       9311
France              7991
Iran                6526
Japan               5469
Germany             3984
Italy               3517
Peru                3510
England             3094
India               2167
Mexico              2051
Indonesia           1732
Byzantine Egypt     1673
China               1186
Turkey              1016
Name: country, dtype: int64
50 have more than 100. From that, 15 have more than 1000.

=== City ===
Total informed : 7.042%
Top values :
Paris       4877
Nishapur    3965
New York    2429
London      2382
Name: city, dtype: int64
42 have more than 100. From that, 4 have more than 1000.

=== Region ===
Total informed : 8.144%
Top values :
Upper Egypt, Thebes    11356
Memphite Region         4690
Mid-Atlantic            4363
New England             2054
Mesopotamia             1992
Iran                    1750
Mesoamerica             1279
Middle Egypt            1166
Name: region, dtype: int64
35 have more than 100. From that, 8 have more than 1000.

=== Subregion ===
Total informed : 4.644%
Top values :
Deir el-Bahri      3055
Lisht North        3030
Malqata            2472
Asasif             1506
Southern Asasif    1332
Name: subregion, dtype: int64
26 have more than 100. From that, 5 have more than 1000.

=== Culture ===
Total informed : 33.80%
Top values :
American                27688
Greek, Attic            17312
Japan                   16672
China                   13812
French                  10270
Japanese                 5917
Roman                    4876
British                  2967
Italian                  2938
Cypriot                  2895
German                   2178
American or European     2140
Coptic                   1673
European                 1524
Etruscan                 1225
Greek                    1213
Iran                     1088
Name: culture, dtype: int64
103 have more than 100. From that, 17 have more than 1000.

=== Artistnationality ===
Total informed : 38.70%
Top values :
American                  70004
French                    35904
Italian                   21144
British                   14335
German                     9795
Japanese                   6567
Netherlandish              4550
Dutch                      3175
Chinese                    2154
Spanish                    1738
Austrian                   1655
British, Scottish          1347
American, born Germany     1234
Bohemian                   1143
Name: artistNationality, dtype: int64
53 have more than 100. From that, 14 have more than 1000.

=== Classification ===
Total informed : 88.04%
Top values :
                          58428
Photographs               41664
Drawings                  30099
Vases                     21331
Books                     20655
Ceramics                  13981
Paintings                 11643
Textiles-Woven            11073
Glass                      8868
Negatives                  6154
Textiles-Laces             4976
Sculpture                  4820
Textiles-Embroidered       4177
Ceramics-Porcelain         4063
Metalwork-Silver           3788
Ceramics-Pottery           3319
Textiles                   3252
Textiles-Printed           2562
Jewelry                    2523
Metal                      2392
Metalwork                  2391
Albums                     2335
Gold and Silver            1952
Textiles-Trimmings         1950
Metal-Ornaments            1898
Furniture                  1869
Bronzes                    1806
Terracottas                1770
Stucco                     1752
Wood-Sculpture             1676
Gems                       1616
Jade                       1611
Medals and Plaquettes      1560
Textiles-Velvets           1425
Codices                    1420
Woodwork-Furniture         1402
Metalwork-Iron             1214
Sword Furniture-Tsuba      1200
Silver                     1169
Coins                      1136
Sword Furniture-Kozuka     1116
Ceramics-Containers        1099
Swords                     1081
Glass-Stained              1032
Stone Sculpture            1021
Name: classification, dtype: int64
212 have more than 100. From that, 45 have more than 1000.

In [12]:
features = ['country', 'city', 'region', 'culture']

for feature in features:
    explain_data(df[df['classification'] == 'Paintings'], feature)

=== Country ===
Total informed : 1.803%
Top values :
Series([], Name: country, dtype: int64)
0 have more than 100. From that, 0 have more than 1000.

=== City ===
Total informed : 0.283%
Top values :
Series([], Name: city, dtype: int64)
0 have more than 100. From that, 0 have more than 1000.

=== Region ===
Total informed : 0.180%
Top values :
Series([], Name: region, dtype: int64)
0 have more than 100. From that, 0 have more than 1000.

=== Culture ===
Total informed : 55.61%
Top values :
China       2042
American    1943
Japan       1269
Name: culture, dtype: int64
4 have more than 100. From that, 3 have more than 1000.

In [13]:
len(df)

488795

In [14]:
df.columns

Index(['objectID', 'isHighlight', 'accessionNumber', 'isPublicDomain',
       'primaryImage', 'primaryImageSmall', 'additionalImages', 'constituents',
       'department', 'objectName', 'title', 'culture', 'period', 'dynasty',
       'reign', 'portfolio', 'artistRole', 'artistPrefix', 'artistDisplayName',
       'artistDisplayBio', 'artistSuffix', 'artistAlphaSort',
       'artistNationality', 'artistBeginDate', 'artistEndDate', 'objectDate',
       'objectBeginDate', 'objectEndDate', 'medium', 'dimensions',
       'creditLine', 'geographyType', 'city', 'state', 'county', 'country',
       'region', 'subregion', 'locale', 'locus', 'excavation', 'river',
       'classification', 'rightsAndReproduction', 'linkResource',
       'metadataDate', 'repository', 'objectURL', 'tags'],
      dtype='object')

In [15]:
df['classification'].value_counts()

Prints                                          124708
                                                 58428
Photographs                                      41664
Drawings                                         30099
Vases                                            21331
Books                                            20655
Ceramics                                         13981
Paintings                                        11643
Textiles-Woven                                   11073
Glass                                             8868
Negatives                                         6154
Textiles-Laces                                    4976
Sculpture                                         4820
Textiles-Embroidered                              4177
Ceramics-Porcelain                                4063
Metalwork-Silver                                  3788
Ceramics-Pottery                                  3319
Textiles                                          3252
Textiles-Printed                                  2562
Jewelry                                           2523
Metal                                             2392
Metalwork                                         2391
Albums                                            2335
Gold and Silver                                   1952
Textiles-Trimmings                                1950
Metal-Ornaments                                   1898
Furniture                                         1869
Bronzes                                           1806
Terracottas                                       1770
Stucco                                            1752
                                                 ...
Beads-Furniture                                      1
Metalwork-Forgeries                                  1
Chordophone-Accessories-beater                       1
Underwear                                            1
Reproductions-Textiles                               1
sealings                                             1
Lapidary Work-Serpentine                             1
Reproductions-Textiles-Tapestries                    1
Horn-Ornaments                                       1
Armor Parts-Taces                                    1
Gesso                                                1
Miscellaneous-Banners                                1
Metalwork-Equestrian-Inscribed                       1
Textiles-Embroidered-Painted and Printed             1
Outerwear-Unisex                                     1
paintings: facsimiles                                1
Firearms-Guns-Air                                    1
Lapidary Work-Hematite                               1
sculptors' models/votives, Late Period               1
Paintings-Icons                                      1
Armor Parts-Linings                                  1
Hide                                                 1
writing and painting implements and supplies         1
Metalwork-Gold or Brass                              1
Ivory                                                1
Plaster                                              1
Reproductions-Miscellany                             1
Firearms-Guns-Match-Wheellock                        1
Paper-Graphics-Inscribed                             1
Woodwork–Miscellany                                  1
Name: classification, Length: 789, dtype: int64

In [16]:
len(subset[subset['tags'].astype('str') != '[]'])

NameError: name 'subset' is not defined

In [ ]:
np.sum(df[(df['classification'] == 'Paintings') | (
    df['classification'] == 'Drawings') | (
    df['classification'] == 'Prints') | (
    df['classification'] == 'Photographs')]['country'].value_counts()[1:].values)

In [ ]:
np.sum(df[(df['classification'] == 'Paintings') | (
    df['classification'] == 'Drawings') | (
    df['classification'] == 'Prints') | (
    df['classification'] == 'Photographs')]['culture'].value_counts()[1:].values)

In [ ]:
np.sum(df[(df['classification'] == 'Paintings') | (
    df['classification'] == 'Drawings') | (
    df['classification'] == 'Prints') | (
    df['classification'] == 'Photographs')]['city'].value_counts()[1:].values)

In [ ]:
ind = 0
list_ = ['Prints', 'Photographs']
for 
df[]

In [ ]:
subset = df[(df['classification'] == 'Paintings') | (
        df['classification'] == 'Drawings') | (
        df['classification'] == 'Prints') | (
        df['classification'] == 'Photographs')]

In [ ]:
subset = df[(df['classification'] == 'Paintings') | (
        df['classification'] == 'Drawings') | (
        df['classification'] == 'Photographs')]

In [ ]:
len(df[(df['classification'] == 'Paintings')])

In [ ]:
len(subset)

In [ ]:
subset['objectDate'].value_counts()

In [ ]:
ind_ = []

for ind, row in subset.iterrows():
    if (row['country'] != '') or (row['city'] != '') or (row['culture'] != '') or (
        row['state'] != '') or (row['region'] != '') or (row['subregion'] != ''):
        ind_.append(ind)

In [ ]:
len(ind_)

In [ ]:
subset_loc = subset.loc[ind_]

In [ ]:
subset_loc['city'].value_counts()

In [ ]:
print(separators)